body {
  background-color: #F0F0F0;
  text-align: center;
}
h1 { color: #573391;}
h3 {color: #EF6D6D;}
h4 {color:#1C658C;}
hr {
background-color: #F0F0F0;
border-style: dotted none none;
width: 100px;
border-color: green;
border-width: 5px;
}
img:hover{background-color: #00B4D8;}
h1:hover{color: #139487;}
.mypic {background-color: #BB6464;}
